.form
  .container(style="margin:10px 50px" )
    %h1 活动通
  .body-right-3
    你好,管理员
    -if current_user
      =link_to '退出',logout_path,method: 'delete'
  .body
    %ol.breadcrumb
      %li
        =link_to '首页',index_welcome_path
        %li.active 修改用户密码
  .alert
  .login-box
    =form_for :user,url: '/post_password' do |f|
      .input-group
        %span.input-group-addon(style="width:110px") 账号
        =f.label :name, session[:name],:class => 'form-control', :style => 'width:345px',:disabled=>'disabled'
      %br
      .input-group
        %span.input-group-addon(style="width:110px") 请设置密码
        =f.password_field :password, :class => 'form-control', :style => 'width:345px', :placeholder => '请输入新密码'
      %br
      .input-group
        %span.input-group-addon(style="width:110px") 请确认密码
        =f.password_field :password_confirmation, :class => 'form-control', :style => 'width:345px', :placeholder => '请再次输入'
      - if flash[:error]
        .alert.alert-danger
          =flash[:error]
      - if flash.now[:succeed]
        .modal.fade#succeed
          .modal-dialog
            .modal-content
              .modal-header
                %button.close(aria-hidden = "true"  data-dismiss = "modal" type = "button") &times;
                %h4.modal-title
              .modal-body
                %center
                  修改成功
              .modal-footer
                %button
                  =link_to '确定',welcome_path
        :javascript
          $('#succeed').modal('show')
      %br
      =f.submit '确认修改',:class => 'submit',:style=>' width:130px;margin-left: 170px;'