.container(style="margin:10px 50px" )
  .navbar-nav.navbar-right
    你好,
    -if current_user
      =current_user.name
      =link_to '退出',logout_path,method: 'delete'
  %h1 活动通
.body
  %ol.breadcrumb
    %li
      =link_to '首页',welcome_user_path
      %li.active 竞价列表
.row(style="width:1320px" )
.user-box
  %table.table
    %thead
      %h4
        竞价列表
        %div(style="float:right" )
          %h5
            =link_to '报名列表',sign_up_path(:activity_name => @activity_name, :user_name => current_user.name)
    %thead
      %td(align="center" style="width:20%") 编号
      %td(align="center" style="width:20%")名称
      %td(align="center" style="width:20%") 参与人数
    %tbody
      -@bid_lists.each do|bid_list|
        %tr
          %td(align="center" style="width:20%")
            =@count+=1
          %td(align="center" style="width:20%")
            =link_to '第' + bid_list.name + '次竞价'
          %td(align="center" style="width:20%")
            =BidMessage.get_bid_message_number(current_user.name,bid_list.activity,bid_list.name).length
            \/
            =Message.get_message(bid_list.user, bid_list.activity).length
  .right-padding(align="right")
    = will_paginate @bid_lists, :previous_label=> '<<', :next_label=> '>>'