.form
  .container(style="margin:10px 50px" )
    %h1 活动通
  .row(style="width:1320px" )
    .login-box
      %h4 重置密码
      %br
      .body-right-1
        %a(href = '/login')用户登录
      =form_for :@user, url: '/post_password_three' do |f|
        .input-group
          %span.input-group-addon(style="width:110px") 请设置密码
          =f.password_field :password, :class => 'form-control', :style => 'width:345px',:placeholder => '请输入新密码'
        %br
        .input-group
          %span.input-group-addon(style="width:110px") 请确认密码
          =f.password_field :password_confirmation, :class => 'form-control', :style => 'width:345px', :placeholder => '请再次输入'
        - if flash[:error]
          .alert.alert-danger
            =flash[:error]
        %br
        =submit_tag'确认修改',:class => 'submit',:style=>' width:130px;margin-left: 170px;'