.form
  .container(style="margin:10px 50px" )
    %h1 活动通
  .row(style="width:1320px" )
    .login-box
      %h4 重置密码
      %br
      .body-right-1
        %a(href = '/login')用户登录
      =form_for :@user, url: '/post_password_two' do |f|
        .input-group
          %span.input-group-addon(style="width:110px") 忘记密码问题
          =f.label :forget_password_question, session[:forget_password_question],:class => 'form-control', :style => 'width:345px',:disabled=>'disabled'
        %br
        .input-group
          %span.input-group-addon(style="width:110px") 忘记密码答案
          =f.text_field :question_answer, :class => 'form-control', :style => 'width:345px',:placeholder => '请输入答案'
        - if flash[:error]
          .alert.alert-danger
            =flash[:error]
        %br
        =submit_tag'下一步',:class => 'submit',:style=>' width:130px;margin-left: 170px;'