.form
  .container(style="margin:10px 50px" )
    %h1 活动通
  .row(style="width:1320px" )
    .login-box
      %h4 用户登录
      %br
      .body-right-1
        %a(href = '/register')用户注册
      =form_tag '/create_login_session' do
        .input-group
          %span.input-group-addon( style = "width:109px" ) 账号
          %input.form-control(name = 'name' type = "text" style = 'width:400px'class='form-control')
        %br
        .input-group
          %span.input-group-addon( style="width:109px" ) 密码
          %input.form-control(name = 'password' type = "password" style = 'width:400px'class='form-control' )
        %br
        .body-right-2
          %a(href="/forget_password" )
            忘记密码
        - if flash[:error]
          .alert.alert-danger
            =flash[:error]
        =submit_tag'登录',:class => 'submit',:style=>' width:130px;margin-left: 170px;'
