.container(style="margin:10px 50px" )
  .navbar-nav.navbar-right
    你好,
    -if current_user
      =current_user.name
      =link_to '退出',logout_path,method: 'delete'
  %h2 活动通
.body
  %ol.breadcrumb
    %li
      =link_to '首页',welcome_user_path
    %li
      =link_to '竞价列表', bid_list_path(:activity_name => params[:activity_name])
    %li
      第
      =@current_bid
      次竞价
  %ol.breadcrumb
    .winner(align = 'center')
      -if flash.now[:bidding]
        活动正在进行中...
      -if flash.now[:success]
        %p
          获胜者：
          =@successful_name
        %p
          出价：
          =@successful_price
          元
        %p
          手机号：
          =@successful_phone
      -if flash.now[:fail]
        本次竞价无人胜出
.bid-detail-box
  %table.table
    %thead
      %ul.nav.nav-tabs.nav-justified
        %li
          =link_to '出价列表', bid_detail_path(:activity_name => params[:activity_name], :bid_name => @current_bid)
        %li.active
          %a
            价格统计
      %td(align="center" style="width:20%") 价格/元
      %td(align="center" style="width:20%") 人数
    %tbody
      -@prices.each do|price|
        %tr
          %td(align="center" style="width:20%")
            =price
          %td(align="center" style="width:20%")
            =BidMessage.get_price_number(session[:current_user],params[:activity_name],@current_bid,price).length
  -#.right-padding(align="right")
  -#  = will_paginate @prices, :previous_label=> '<<', :next_label=> '>>'