.form
  .container(style="margin:10px 50px" )
    %h1 活动通
  .row(style="width:1320px" )
    .register-box
      %h4 新用户注册
      %br
      .body-right-1
        %a(href = "/") 用户登录
      =form_for @user do |f|
        .input-group
          %span.input-group-addon(style="width:110px") 账号
          =f.text_field :name, :class => 'form-control', :style => 'width:345px'
        %br
        .input-group
          %span.input-group-addon(style="width:110px") 请设置密码
          =f.password_field :password, :class => 'form-control', :style => 'width:345px'
        %br
        .input-group
          %span.input-group-addon(style="width:110px") 请确认密码
          =f.password_field :password_confirmation, :class => 'form-control', :style => 'width:345px'
        %br
        .input-group
          %span.input-group-addon(style="width:110px")忘记密码问题
          =f.text_field :forget_password_question, :class => 'form-control', :style => 'width:345px'
        %br
        .input-group
          %span.input-group-addon(style="width:110px") 忘记密码答案
          =f.text_field :question_answer, :class => 'form-control', :style => 'width:345px'
        %br
        - if @user.errors.any?
          .alert.alert-danger
            =@user.errors.full_messages.first
        =f.submit '注册',:class => 'submit',:style=>' width:130px;margin-left: 170px;'