.container(style="margin:10px 50px" )
  .navbar-nav.navbar-right
    你好,管理员
    -if current_user
      =link_to '退出',logout_path,method: 'delete'
  %h1 活动通
.welcome-box
  %table.table
    %thead
      用户管理
      %button
        =link_to'+添加用户',add_user_path
    %thead
      %td(align="center")编号
      %td(align="center") 用户名
      %td(align="center") 操作
    %tbody
      -@users.each do|user|
        %tr
          %td(align="center" style="width:37%")
            =user.id
          %td(align="center" style="width:37%")
            =link_to user.name,welcome_user_path(:admin_get_user => user.name)
          %td(align="center" style="width:37%")
            =link_to '删除',delete_user_path(:name=>user[:name]), data: { confirm: '您确定要删除'+user[:name]+'？'}, :method => :delete
            =link_to '修改密码',change_password_path(:name=>user[:name])
  .right-padding(align="right")
    = will_paginate @users, :previous_label=> '<<', :next_label=> '>>'