.container(style="margin:10px 50px" )
  %h1 活动通
.row(style="width:1320px" )
  .register-box
    %h4 新用户注册
    %br
    .body-right-1
      %a 用户登录
    .input-prepend
      %span.add-on(style="width:100px") 账号
      %input#prependedInput(style="width:380px" type = "text")
    %br
    .input-prepend
      %span.add-on(style="width:100px") 请设置密码
      %input#prependedInput(style="width:380px" type = "text")
    %br
    .input-prepend
      %span.add-on(style="width:100px") 请确认密码
      %input#prependedInput(style="width:380px" type = "text")
    %br
    .input-prepend
      %span.add-on(style="width:100px") 忘记密码问题
      %input#prependedInput(style="width:380px" type = "text")
    %br
    .input-prepend
      %span.add-on(style="width:100px") 忘记密码答案
      %input#prependedInput(style="width:380px" type = "text")
    %br
    %center
      %button.btn-4(style="width:150px")登录